@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-accent: #059669;
  --color-accent-dark: #34d399;
  --color-dark: #0f172a;
  --color-darker: #0b1120;
  --color-light: #f8fafc;
}

@layer utilities {
  /* Animaciones personalizadas */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
}

/* Fuentes personalizadas */
@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

.text-accent {
  @apply text-accent dark:text-accent-dark;
}
