---
const currentYear = new Date().getFullYear();
---

<footer class="py-4 text-center bg-darker">
  <div class="container px-4 mx-auto">
    <p class="text-sm text-light/60">
      &copy; {currentYear} Juan Pérez. Todos los derechos reservados.
    </p>
  </div>
</footer>
