---
const currentYear = new Date().getFullYear();
---

<footer class="py-4 text-center dark:bg-darker">
  <div class="container px-4 mx-auto">
    <p class="text-sm text-gray-800 dark:text-light/60">
      &copy; {currentYear} Angel Contreras. Todos los derechos reservados.
    </p>
  </div>
</footer>
