---
const currentYear = new Date().getFullYear();
---

<footer class="py-4 text-center">
  <div class="container px-4 mx-auto">
    <p class="text-body text-sm text-gray-800">
      &copy; {currentYear} Angel Contreras. Todos los derechos reservados.
    </p>
  </div>
</footer>
