---

---

<section id="sobre-mi" class="py-20 dark:bg-dark">
  <div class="container px-4 mx-auto">
    <h2 class="mb-12 text-3xl font-bold text-center">
      Sobre <span class="text-accent">Mí</span>
    </h2>

    <div class="max-w-3xl p-8 mx-auto rounded-lg shadow-md dark:bg-darker/60">
      <p class="mb-4 leading-relaxed text-gray-800 dark:text-light/80">
        Soy un desarrollador web con un solido conocimiento por crear
        experiencias digitales atractivas e interactivas. Mi viaje en el
        desarrollo web comenzó hace 3 años mientras estudiaba informática, donde
        descubrí mi pasión por la creación de sitios web.
      </p>
      <p class="mb-4 leading-relaxed text-gray-800 dark:text-light/80">
        Me especializo en el desarrollo frontend, con conocimientos en HTML,
        CSS, JavaScript y frameworks modernos como React y Next.js. También
        tengo experiencia con herramientas de diseño y control de versiones como
        Git.
      </p>
      <p class="mb-4 leading-relaxed text-gray-800 dark:text-light/80">
        Mi objetivo es convertirme en un desarrollador full-stack, y actualmente
        estoy aprendiendo Node.js y bases de datos como MongoDB para ampliar mis
        habilidades en el backend. Disfruto enfrentando desafíos de programación
        y aprendiendo nuevas tecnologías para mejorar constantemente.
      </p>
      <p class="leading-relaxed text-gray-800 dark:text-light/80">
        Cuando no estoy codificando, me gusta leer sobre las últimas tendencias
        tecnológicas, jugar videojuegos y explorar la naturaleza. Estoy siempre
        abierto a nuevas oportunidades y colaboraciones que me permitan crecer
        como profesional.
      </p>
    </div>
  </div>
</section>
