---
import '@/styles/global.css';

import Navbar from '@/components/Navbar.astro';
import SEO from '@/components/SEO.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <SEO />

    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main
      class="min-h-screen bg-gradient-to-b from-slate-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 text-slate-900 dark:text-slate-100"
    >
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
  }
</style>
